body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0; /* Серый фон */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; /* Распределение карточек по центру */
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center; /* Центрирование карточек на мобильных устройствах */
  }
}

nav {
  background-color: #007bff; /* Голубой фон для навигационной панели */
  padding: 10px 0;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.card {
  background-color: white; /* Белый фон для карточек */
  border-radius: 5px; /* Скругленные углы */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Тень */
  margin: 10px;
  padding: 20px;
  transition: transform 0.3s ease-in-out; /* Плавное преобразование */
}

.card:hover {
  transform: scale(1.05); /* Увеличение карточки при наведении */
}
